* {
  margin: 0;
  padding: 0;
}

body {
  padding: 3%;
  background-color: #202124;
  font-family: monospace;
  color: white;
}

.cabecalho h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px;
}
.cabecalho img {
  border-radius: 50%;
  display: block;
  margin: 0px auto;
}
.cabecalho p {
  text-align: center;
  font-size: 30px;
  width: 800px;
  display: block;
  margin: 0px auto;
  padding: 10px;
}
p {
    text-align: center;
    padding: 10px;
}
