.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu .menu-nav p,
img {
  pointer-events: none;
}

.menu .menu-nav i {
  display: none;
  pointer-events: none;
}

.menu i {
  border: none;
  display: flex;
  align-items: center;
}

.menu .menu-nav {
  background: none;
  border: none;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

.menu .menu-nav:hover {
  cursor: pointer;
  color: var(--secondary);
}

@media screen and (max-width: 640px) {
  .header .menu {
    position: fixed !important;
    bottom: 0 !important;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
    z-index: 5;
    font-size: 8px !important;
    justify-content: space-evenly;
  }

  .header .menu-nav i {
    color: var(--secondary);
    pointer-events: none;
    display: block;
  }

  .header .menu-nav p {
    display: none;
  }
}
