.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem 2rem;
}

.header .logo {
  width: 7rem;
}

@media screen and (max-width: 640px) {
  .header {
    z-index: 5;
  }

  .header .logo {
    max-width: 4rem !important;
    min-width: 4rem !important;
  }
}
