@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Boogaloo", cursive;
}

/* CABEÇALHO */
.header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-bottom: 1px solid #37373734;
  max-height: 50px;
  margin-bottom: 20px;
  background-color: white;
}

.header div {
  display: flex;
  align-self: center;
  letter-spacing: 4px;
}

.header nav {
  display: flex;
  align-self: center;
  height: 50px;
}

.header ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}

.header li {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: #8d8d8d;
  font-size: 24px;
}

.link:hover {
  color: black;
}

.button {
  font-family: monospace;
  font-size: 18px;
  max-height: 50px;
  padding: 4px 15px 4px 15px;
  border: 1px solid #8d8d8d76;
  border-radius: 5px;
}
/*  CABEÇALHO */
