.Projects {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 35px;
}

.Cards {
  width: 90%;
}

.Card__Project__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  text-align: center;
}

.Card__Project__container p {
  margin-top: 10px;
}

.Card__IMG__Project {
  width: 256px;
  height: 144px;
  background: #080713;
  border: 1px solid #29A19D;
  border-radius: 5px;
  box-shadow: 5px 0 30px #29A19D;
  object-fit: cover;
}

.Card__topics__container {
  display: flex;
  margin-top: -37px;
  margin-left: 35px;
}

.Card__topics__container img {
  width: 30px;
}

.Card__links__container {
  align-items: center;
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  margin-top: 10px;
}
