.Card__Project__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  text-align: center;
}

.Card__Project__container p {
  margin-top: 2px;
}

.Card__IMG__Project {
  width: 100%;
  background: #080713;
  border: 1px solid #301860;
  box-shadow: 5px 0 20px 5px #301860;
  background-blend-mode: multiply;
}

.Card__topics__container {
  display: flex;
  margin-top: -35px;
  margin-left: 5px;
}

.Card__topics__container img {
  width: 30px;
}
