.header {
  display: flex;
  height: 60px;
  font-size: 18px;
  background: linear-gradient(-45deg, #0b0c0c, #1B262C, #1B262C, #0b0c0c);
}

.header-nav-link {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding-left: 0;
}

.header-nav-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #29a19d;
  margin: 15px;
  transition: 0.4s;
  padding-bottom: 1px;
}

.header-nav-link a:hover {
  color: #A3F7BF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  transition: 0.4s;
}
