@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.body {
  background: linear-gradient(-45deg, #0b0c0c, #1B262C, #1B262C, #0b0c0c);
  color: white;
  text-align: center;
}

body {
  background-color: #1B262C;
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.border-btt {
 border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 350%;
  font-size: 24px;
  background: linear-gradient(90deg, #0b0c0c 0%, #1b262c 50%, #0b0c0c 100%);
  padding: 50px;
}

.footer {
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #0b0c0c 0%, #1b262c 50%, #0b0c0c 100%);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer p {
  margin-bottom: 20px;
}

.contact-nav-container a {
  margin: 0 10px;
}

.h2 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #29a19d;
  margin-bottom: 30px;
  transition: 0.4s;
}

.h2:hover {
  color: #A3F7BF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  transition: 0.4s;
}