@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1B262C;
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  background: linear-gradient(90deg, #0b0c0c 0%, #1b262c 50%, #0b0c0c 100%);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(5deg, #0b0c0c 0%, #1b262c 50%, #0b0c0c 100%);
}

body::-webkit-scrollbar-thumb {
  background-color: #29a19d81;
  border: 3px solid #29a19d81;
  border-radius: 20px;
}

img, h1, h2, h3, a, p {
  animation: go-back 2s;
}

.border-btt {
 border-bottom: 1px solid rgba(255, 255, 255, 0.05);
 animation: go-back 0.5s;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.mt {
  margin-top: 20px;
}

.home-first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  line-height: 350%;
  text-align: center;
  height: 88vh;
}

.home-about-container {
  flex-direction: column;
  padding-top: 20px;
  height: 86vh;
}

.home-about-container-article {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.home-text-about {
  width: 50%;
  font-size: 18px;
}

.home-img-container{
  text-align: center;
  width: 30%;
}

.home-img {
  height: 65%;
  width: 65%;
  max-width: 315px;
  max-height: 315px;
  border-radius: 50%;
  box-shadow: 2px 2px 90px 5px rgba(41, 161, 157, 0.3);
}

#footer {
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #0b0c0c 0%, #1b262c 50%, #0b0c0c 100%);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#footer p {
  margin-bottom: 20px;
}

.contact-nav-container a {
  margin: 0 10px;
}

.h2 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #29a19d;
  margin-bottom: 30px;
  transition: 0.4s;
  font-size: 25px;
}

.h2:hover {
  color: #A3F7BF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  transition: 0.4s;
}

.arrow-container img {
  width: 30px;
  height: 30px;
}

.arrow-container a {
  scroll-behavior: smooth;
}

@keyframes go-back {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(-10px)
  }
} 