* {
  margin: 0;
  padding: 0;
}

.body {
  background-size: cover;
  background: linear-gradient(-45deg,#0b0c0c,  #1B262C, #1B262C, #0b0c0c);
  color: white;
  text-align: center;
}

body {
  background-color: #1B262C;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navLinks {
  display: flex;
  list-style-type: none;
}

.navLinks li {
  padding-left: 0;
  margin: 15px;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  padding-bottom: 3px;
  border-bottom: 2px solid #29A19C;
}